@layer base {
  *::selection {
    color: var(--app-background-color);
    background-color: var(--app-text-color);
  }

  html {
    scrollbar-gutter: stable;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
  }

  body {
    font-family: theme('fontFamily.body');
    font-size: theme('fontSize.16');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: theme('lineHeight.normal');
    -webkit-tap-highlight-color: transparent;
  }

  p a {
    text-decoration: underline;
  }
}
